.combobox {
  box-sizing: border-box;
  border: 1px solid gray;

  &.combobox__focus {
    border: 1px solid silver;
  }

  &__popup {
    display: flex;
    position: absolute;
    left: -1px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
  }
}

.control__textbox.combobox__textbox {
  flex-grow: 1;
  border: none;
  height: $control-height - 2;
}

.combobox__list.grid_control .grid_render {
  &--cell {
    border-left: none;
    border-top: none;

    &_rightmost {
      border-right: none;
    }

    &_lowermost {
      border-bottom: none;
    }
  }
}