.examples {
  display: flex;
  flex-direction: column;
  
  @include fit-to-parent();

  &__header {
    flex-grow: 0;
    padding: 8px;
    font-size: 18px;
    background-color: #f0f0f0;
  }

  &__selector {
    display: flex;
    flex-direction: row;

    &-title {
      color: gray;
      padding-right: 10px;
    }

    > select {
      flex-grow: 1;
      font-size: 14px;
    }
  }

  &__container {
    flex-grow: 1;
    display: flex;
    padding: 10px;
  }
}