.grid_control {
  overflow: hidden;
  position: absolute;

  &--header {
    &--resize_handle {
      top: 0px;
      right: 0px;
      height: 100%;
      width: 5px;
      position: absolute;
      cursor: w-resize;
    }
    > .grid_render--column > .grid_render--cell {
      padding: 0;
      background-color: #cfcfcf;
    }
  }

  &--body {
    .grid_render--cell {
      padding: 0;
    }

    .grid_render--cell_topmost {
      border-top: none;
    }
  }
}