.map_control {
  overflow: hidden;

  &--header {
    &--resize_handle {
      right: 0px;
      height: 100%;
      width: 5px;
      position: absolute;
      cursor: w-resize;
    }

    .map_render--cell {
      padding: 0px;
      background-color: #cfcfcf;
    }
  }

  &--body {
    .map_render--cell {
      padding: 0px;
    }

    .map_render--cell_topmost {
      border-top: none;
    }
  }

  &--selected_row {
    background-color: lightcoral;
  }
}