.map_control {
  overflow: hidden;

  .map_control--header {
    .map_render--cell {
      padding: 0px;
      background-color: #cfcfcf;
    }
  }

  .map_control--body {
    .map_render--cell {
      padding: 0px;
    }

    .map_render--cell_topmost {
      border-top: none;
    }
  }

  .map_control--selected_row {
    background-color: lightcoral;
  }
}