.scrollbar {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background-color: #f1f1f1;

  &--button {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    background-color: transparent;
    color: #505050;
    text-align: center;

    &:hover {
      background-color: #d2d2d2;
    }

    &:active {
      background-color: #787878;
      color: white;
    }
  }

  &--up {
    top: 0px;
  }

  &--down {
    bottom: 0px;
  }

  &--left {
    left: 0px;
    
  }

  &--right {
    right: 0px;
  }

  &--thumb {
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    background-color: #c1c1c1;

    &:hover {
      background-color: #a9a9a9;
    }
    &:active {
      background-color: #787878;
    }
  }
}